<div class="container py-5">

  <ngb-table
    [rows]="rows"
    [selectable]="true"
    [selectedRowsIds]="selectedRowsIds"
    (selectedRowsIdsChange)="updateSelectedRows($event)"
  >
    <ng-template ngbTableHeader>
      Header
      <button class="btn btn-sm btn-primary my-n1 float-right">
        foobar
      </button>
    </ng-template>

    <!-- <ng-template ngbTableSelectActionsHeader>
      SelectedRowsActions
    </ng-template> -->

    <ng-template ngbTableHead>
      <th>foo</th>
      <th>bar</th>
      <th>baz</th>
    </ng-template>

    <ng-template ngbTableBodyRow let-row>
      <td>{{ row.id }}</td>
      <td>{{ row.name }}</td>
      <td>empty</td>
    </ng-template>

    <ng-template ngbTableFooterRow>
      <td colspan="3">FooterRow2</td>
    </ng-template>

    <ng-template ngbTableFooterRow>
      <td>FooterRow1</td>
      <td>FooterRow1</td>
      <td>FooterRow1</td>
    </ng-template>

    <ng-template ngbTableFooter>Footer</ng-template>
  </ngb-table>

</div>
